<mat-card class="form-card">
  <mat-card-title>
    {{ usuarioId ? 'Editar Usuário' : 'Novo Usuário' }}
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="salvar()" class="form-container">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="sobrenome" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Idade</mat-label>
        <input matInput type="number" formControlName="idade" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Profissão</mat-label>
        <input matInput formControlName="profissao" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado" required>
          <mat-option *ngFor="let estado of estados" [value]="estado">
            {{ estado }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      

      <div class="button-row">
        <button mat-stroked-button color="warn" routerLink="/usuarios">
          Cancelar
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ usuarioId ? 'Atualizar' : 'Salvar' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
